<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">M.I.L.U</h1>
    </div>

    <div class="w-100 mb-3"></div>

    <div class="col-lg-5 col-8 mx-lg-0 mx-auto">
        <figure class="figure">
            <!-- <img src="https://via.placeholder.com/300" alt="sample image" class="figure-img img-thumbnail"> -->
            <a href="assets/images/milu_1.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_1.png" alt="image" class="img-thumbnail collectionImage">
            </a>
            <figcaption class="figure-caption text-center">Figure 1.1: Loading screen</figcaption>
        </figure>
    </div>
    <div class="d-lg-none w-100"></div>
    <div class="col-lg-7 col-md-12 pt-1">
        <dl class="row">
            <dt class="col-sm-2">Status:</dt>
            <dd class="col-sm-10">Ongoing (June 2008 - present)</dd>
            <dt class="col-sm-2">Company:</dt>
            <dd class="col-sm-10">Grateful Days Inc.</dd>
            <dt class="col-sm-2">Platform:</dt>
            <dd class="col-sm-10">PC, Web (shutdown) - <em>Japan and Korea only</em></dd>
            <dt class="col-sm-2">Genres:</dt>
            <dd class="col-sm-10">Multiplayer, life simulation</dd>
            <dt class="col-sm-2">Role(s):</dt>
            <dd class="col-sm-10">Coding</dd>
        </dl>
        <p>
            <span class="fw-bold fst-italic">M.I.L.U is a multiplayer life-simulation game</span> that had been up and
            running since 2008. It focuses on re-creating a
            peaceful and friendly community for players
            to relax, have fun, and bonding with like-minded people. Featuring in-game activies include: fishing,
            crafting, raising pets, trading, and more.
            There are no extra-hard difficulties, no secrets, no levels, and no potential harmful challenges to players.
        </p>
    </div>

    <div class="w-100"></div>

    <div class="col-12">
        <p>
            I joined the team back in May 2019 as <em>server programmer</em>, and had been working on this project for
            almost 3 years. My main responsibility
            lies in the implementation and optimization of server logic, as well as data manipulation via SQL database
            system. From time to time,
            however, I also participate in developing client-side behaviours especially for major upgrades.
        </p>
    </div>
    <div class="col-12">
        <p class="fw-bold">
            Here are my contributions:
        </p>
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li>For server:
                        <ul>
                            <li>Implement and modify server-side logic using C/C++ language</li>
                            <li>Monitor status of server application in real time and react accordingly</li>
                            <li>Design table structure and create related functions/procedures in MySQL</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li>For client:
                        <ul>
                            <li>Develop or improve features using in-house game engine (in C/C++ language)</li>
                            <li>Make game UI according to handed out design using in-house tool</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row gy-1">
        <div class="col-md-3 col-6 mx-auto">
            <!-- <img src="https://via.placeholder.com/200" alt="sample image" class="img-thumbnail collectionImage"> -->
            <a href="assets/images/milu_2.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_2.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-md-3 col-6 mx-auto">
            <!-- <img src="https://via.placeholder.com/200" alt="sample image" class="img-thumbnail collectionImage"> -->
            <a href="assets/images/milu_3.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_3.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-md-3 col-6 mx-auto">
            <!-- <img src="https://via.placeholder.com/200" alt="sample image" class="img-thumbnail collectionImage"> -->
            <a href="assets/images/milu_4.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_4.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-md-3 col-6 mx-auto">
            <!-- <img src="https://via.placeholder.com/200" alt="sample image" class="img-thumbnail collectionImage"> -->
            <a href="assets/images/milu_5.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_5.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
    </div>
    <div class="col-auto mx-auto">
        <figure class="figure pt-2">
            <figcaption class="figure-caption">Figure 1.2-1.5: real in-game footage</figcaption>
        </figure>
    </div>
</div>