<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">M.I.L.U</h1>
    </div>

    <div class="w-100 mb-3"></div>

    <div class="col-lg-5 col-8 mx-auto">
        <figure class="figure">
            <!-- <img src="https://via.placeholder.com/300" alt="sample image" class="figure-img img-thumbnail"> -->
            <a href="assets/images/milu_1.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_1.png" alt="image" class="img-thumbnail collectionImage mb-1">
            </a>
            <figcaption class="figure-caption text-center">Figure 1.1: Loading screen</figcaption>
        </figure>
    </div>
    <div class="d-lg-none w-100"></div>
    <div class="col-lg-7 col-md-12 pt-1">
        <dl class="row">
            <dt class="col-sm-3">Release Status:</dt>
            <dd class="col-sm-9">Operating (June 2008 - present)</dd>
            <dt class="col-sm-3">Company:</dt>
            <dd class="col-sm-9">Grateful Days Inc.</dd>
            <dt class="col-sm-3">Platform:</dt>
            <dd class="col-sm-9">PC (<em>Japan and Korea regions only</em>)</dd>
            <dt class="col-sm-3">Genres:</dt>
            <dd class="col-sm-9">Multiplayer, Life Simulation</dd>
            <dt class="col-sm-3">Techniques:</dt>
            <dd class="col-sm-9">XEngine (in-house game engine), C/C++</dd>
            <dt class="col-sm-3">Website:</dt>
            <dd class="col-sm-9">
                <a href="https://www.milu.jp/" target="_blank">
                    milu.jp
                </a>
            </dd>
            <!-- <dt class="col-sm-3">Role(s):</dt>
            <dd class="col-sm-9">Coding</dd> -->
        </dl>
        <p>
            <span class="fw-bold fst-italic">M.I.L.U is a multiplayer life-simulation game</span> that had been up and
            running since 2008. It focuses on re-creating a peaceful and friendly community for players to relax, have fun,
            and bonding with like-minded people. Featuring in-game activies include: fishing, crafting, raising pets, trading,
            and more. There are no extra-hard difficulties, no secrets, no levels, and no potential harmful challenges to players.
        </p>
    </div>

    <div class="w-100"></div>

    <div class="col-12">
        <p>
            I joined the team back in May 2019 for the <em>server programmer</em> position. My main responsibility
            revolves around handling server-side features as well as its connection to MySQL Database System. Nonetheless,
            from time to time, I also participate in developing client-side functions especially for major updates.
        </p>
    </div>
    <div class="col-12">
        <p class="fw-bold">
            My contributions:
        </p>
        <div class="row">
            <div class="col">
                <ul class="list-unstyled">
                    <li>For server:
                        <ul>
                            <li>Implement and/or optimize server-side logic.</li>
                            <li>Monitor server status to react in time for unexpected issues.</li>
                            <li>Design database table and related stored procedure.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li>For client:
                        <ul>
                            <li>Implement functions to process data between client and server.</li>
                            <li>Make in-game UI assets for new features.</li>
                            <li>Update in-game map for weekly event.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row gy-1">
        <div class="col-6 mx-auto my-2 px-2">
            <a href="assets/images/milu_2.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_2.png" alt="image" class="collectionImage">
            </a>
        </div>
        <div class="col-6 mx-auto my-2 px-2">
            <a href="assets/images/milu_3.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_3.png" alt="image" class="collectionImage">
            </a>
        </div>
        <div class="col-6 mx-auto my-2 px-2">
            <a href="assets/images/milu_4.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_4.png" alt="image" class="collectionImage">
            </a>
        </div>
        <div class="col-6 mx-auto my-2 px-2">
            <a href="assets/images/milu_5.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/milu_5.png" alt="image" class="collectionImage">
            </a>
        </div>
    </div>
    <div class="col-auto mx-auto">
        <figure class="figure pt-2">
            <figcaption class="figure-caption">Figure 1.2-1.5: In-game scene and activities</figcaption>
        </figure>
    </div>
</div>