<br><br>
<div class="row justify-content-center">
    <div class="col-sm-10 col-12">
        <div class="row">
            <div class="col-12 mb-4"><a href="assets/docs/cv.pdf" target="_blank">Resume</a></div>
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <img src="assets/images/avatar.jpg" alt="avatar" class="img-thumbnail">
            </div>
            <div class="col">
                <p>Hi. My name is Do Quoc Thinh. From Vietnam.</p>
                <p>
                    I am a C++ Game Developer. I have been working professionaly in this position for almost 3 years.
                </p>
                <p>
                    Lately, I am looking for opportunities to switch to Unity Game Developer. I'm open to all relevant
                    positions, and can work with any game genres so feel free to contact me if you like my projects.
                </p>
                You can find more about me through my profile:
                <a href="https://www.linkedin.com/in/thinh-do/" target="_blank">linkedIn</a>
                or
                <a href="https://krankai.itch.io/" target="_blank">portfolio</a>
                <!-- <p>
                    I've been working professionally as a <span class="fst-italic">Game Developer</span> for almost 3 years.
                    Still at a beginner phase, there are a lot more for me to learn in the industry.
                    I'm currently practicing hard day by day to hone my skills and knowledge.
                </p>
                <p>
                    I love this career and want to dedicate my efforts into it for years to come.
                    I'm currently looking for a new job in this field, and open for trying out new position (must be within the game development cycle).
                </p> -->
            </div>
        </div>
        <div class="row mt-4">
            <p>
                I have strong passion for mind challenging games, and thus special interest for <em>puzzle</em> and <em>strategy</em> genres. I also love certain aspects of <em>role-playing</em>
                genre, though to a lesser extent. Some of my favorite titles include:
            </p>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li><em>RimWorld</em> by Ludeon Studios</li>
                        <li><em>Sid Meier's Civilization</em> and <em>XCOM</em> series by Firaxis Games</li>
                        <li><em>Monument Valley</em> by Ustwo Games</li>
                        <li><em>Pokemon</em> series by Game Freak</li>
                        <li><em>Divinity: Original Sin I & II</em> by Larian Studios</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>