<br><br><br>
<div class="row justify-content-center">
    <div class="col-9">
        <div class="row">
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <img src="assets/images/avatar.jpg" alt="avatar" class="img-thumbnail">
            </div>
            <div class="col">
                <p>Hi. My name is Do Quoc Thinh. I'm from Vietnam.</p>
                <p>
                    I've been working professionally as a <span class="fst-italic">Game Developer</span> for almost 3 years.
                    Still at a beginner phase, there are a lot more for me to learn in the industry.
                    I'm currently practicing hard day by day to hone my skills and knowledge.
                </p>
                <p>
                    I love this career and want to dedicate my efforts into it for years to come.
                    I'm currently looking for a new job in this field, and open for trying out new position (must be within the game development cycle).
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <ul class="list-unstyled">
                <li><strong>Favorite Game Genres</strong>: turn-based grand strategy games, role-playing game
                    <ul>
                        <li><em>Sid Meier's Civilization</em> series and <em>XCOM</em> franchise (by MicroProse)</li>
                        <li><em>Stellaris</em> and <em>Crusharder Kings</em> series (by Paradox Development Studio)</li>
                        <li><em>RimWorld</em> (by Ludeon Studios)</li>
                        <li><em>Divinity: Original Sin I & II</em> (by Larian Studios)</li>
                    </ul>
                </li>
                <li><strong>Contact:</strong>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/thinh-do/" target="_blank">LinkedIn</a></li>
                        <li><a href="assets/docs/cv.pdf" target="_blank">Resume</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>