<greeting [align]="'center'">
    Welcome to my personal space.<br>
    Here are my self-developed games and prototypes, made with Unity Engine.<br>
    Hope you enjoy playing them as much as I did making them.<br>
</greeting>

<div class="row justify-content-center">
    <div class="col-6 border-1 border-bottom"></div>
</div>
<br><br><br>

<div class="row gx-xl-5 gx-2 gy-3">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card">
            <img src="assets/images/memorile_cover.png" alt="image" class="card-img-top cardImage">
            <div class="card-body cardBody">
                <h5 class="card-title fw-bold">Memor'ile (2022)</h5>
                <p class="card-text">
                    A simple puzzle game that challenges player's memorizing ability.
                </p>
            </div>
        </div>
    </div>
</div>