<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">Prison Break</h1>
    </div>

    <div class="w-100 mb-3"></div>

    <div class="row justify-content-center">
        <div class="col-lg-5 col-8 text-sm-end text-center">
            <figure class="figure">
                <a href="assets/images/prisonbreak_1.png" target="_blank" class="text-decoration-none">
                    <img src="assets/images/prisonbreak_1.png" alt="image" class="img-thumbnail collectionImage">
                </a>
                <figcaption class="figure-caption text-center">Figure 3.1: Main menu screen</figcaption>
            </figure>
        </div>
        <div class="col-lg-5 col-8 text-sm-start text-center">
            <figure class="figure">
                <a href="assets/images/prisonbreak_2.png" target="_blank" class="text-decoration-none">
                    <img src="assets/images/prisonbreak_2.png" alt="image" class="img-thumbnail collectionImage">
                </a>
                <figcaption class="figure-caption text-center">Figure 3.2: Manual screen</figcaption>
            </figure>
        </div>
    </div>
    <div class="w-100"></div>

    <div class="col-12">
        <dl class="row ">
            <div class="col-lg-3 offset-lg-3 col-md-12">
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Status:</dt>
                    <dd class="col">Unreleased</dd>
                </div>
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Genres:</dt>
                    <dd class="col">Puzzle, stealth, single-player</dd>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Platform:</dt>
                    <dd class="col">PC</dd>
                </div>
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Role(s):</dt>
                    <dd class="col">Coding and Design</dd>
                </div>
            </div>
        </dl>
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5 col-8 mx-auto">
        <figure class="figure">
            <a href="assets/images/prisonbreak_3.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_3.png" alt="image" class="img-thumbnail collectionImage">
            </a>
            <figcaption class="figure-caption text-center">Figure 3.3: Map layout</figcaption>
        </figure>
    </div>
    <div class="col-lg col-12 pt-lg-5 pt-1">
        <p>
            <span class="fw-bold fst-italic">Prison Break is a 2D puzzle game with steal elememt</span>, whose concept is based upon a famous
            American series with the same name. Player, as a prisoner, has to find their way to get out of pison by solving puzzles and acquiring
            keys, while at the same time avoiding security surveillance.
        </p>
        <p>
            The game was completed within a semester of work, including both researching and coding phases, all by myself. Because of that, in order to cope with
            the limitation in members and time, only core functionalities were implemented. Other advanced ideas were saved for potential improvement patches
            in the future.
        </p>
    </div>

    <div class="w-100 mt-4"></div>

    <div class="col-12">
        <p>
            <strong>My work in this project consists of the following tasks:</strong>
        </p>
        <ul>
            <li>Brainstorm ideas for game theme and art styles</li>
            <li>Design game elements, such as: UI, map layout, challenges and enemies, items, and puzzles</li>
            <li>Implement coding using <em>LibGDX</em> game framework (in Java language)</li>
        </ul>
    </div>

    <div class="row gy-lg-3 gy-2 justify-content-center">
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_4.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_4.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_5.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_5.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_6.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_6.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_7.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_7.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_8.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_8.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_9.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_9.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_10.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_10.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-3 col-6 mx-auto">
            <a href="assets/images/prisonbreak_11.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/prisonbreak_11.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="w-100"></div>
        <div class="col-auto mx-auto mt-0">
            <figure class="figure">
                <figcaption class="figure-caption">Figures 3.4-3.11: Gameplay</figcaption>
            </figure>
        </div>
    </div>
</div>