<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold text-center text-wrap">Thinh Do - GameDev Portfolio</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="toggleCollapsed()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav" [ngClass]="{'collapse': collapsed}">
            <ul class="navbar-nav" [ngClass]="{'navbarItems': collapsed}">
                <li class="nav-item">
                    <a 
                        routerLink="/personal"
                        routerLinkActive="active"
                        #routerLinkPersonal="routerLinkActive"
                        class="nav-link me-3"
                        [attr.aria-current]="routerLinkPersonal.isActive ? 'page' : ''">
                        Personal
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        routerLink="/work"
                        routerLinkActive="active"
                        #routerLinkWork="routerLinkActive"
                        class="nav-link me-3"
                        [attr.aria-current]="routerLinkWork.isActive ? 'page' : ''">
                        Work
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        routerLink="/about"
                        routerLinkActive="active"
                        #routerLinkAbout="routerLinkActive"
                        class="nav-link me-3"
                        [attr.aria-current]="routerLinkAbout.isActive ? 'page' : ''">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>