<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand fw-bold text-center text-wrap">Thinh Do - GameDev Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <div class="navbar-nav navbarItems">
                <a
                    routerLink="/personal"
                    routerLinkActive="active"
                    #routerLinkPersonal="routerLinkActive"
                    class="nav-link me-3"
                    [attr.aria-current]="routerLinkPersonal.isActive ? 'page' : ''">
                    Personal
                </a>
                <a
                    routerLink="/work"
                    routerLinkActive="active"
                    #routerLinkWork="routerLinkActive"
                    class="nav-link me-3"
                    [attr.aria-current]="routerLinkWork.isActive ? 'page' : ''">
                    Work
                </a>
                <!-- <a
                    routerLink="/projects"
                    routerLinkActive="active"
                    #routerLinkProject="routerLinkActive"
                    class="nav-link me-3"
                    [attr.aria-current]="routerLinkProject.isActive ? 'page' : ''">
                    Projects
                </a> -->
                <a
                    routerLink="/about"
                    routerLinkActive="active"
                    #routerLinkAbout="routerLinkActive"
                    class="nav-link ms-3"
                    [attr.aria-current]="routerLinkAbout.isActive ? 'page' : ''">
                    About
                </a>
            </div>
        </div>
    </div>
</nav>