<!-- Introduction -->
<div class="row justify-content-center introQuote">
    <div class="col-12 text-center fst-italic">
        <blockquote class="blockquote">
            <p class="lead fs-2">
                Welcome to my website.<br>
                Here is the collection of all my gaming projects.<br>
                Hope you enjoy the showcase.
            </p>
        </blockquote>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 border-1 border-bottom"></div>
</div>
<br><br><br>

<!-- Summary -->
<div class="row gx-xl-5 gx-2 gy-3">
    <div class="col-xl-4 col-md-6 col-10 mx-auto">
        <div class="card">
            <img src="assets/images/milu_1.png" alt="image" class="card-img-top cardImage" (click)="focusProject('milu')">
            <div class="card-body cardBody">
                <h5 class="card-title fw-bold">M.I.L.U (2019 - present)</h5>
                <p class="card-text">
                    An on-going multiplayer simulation game about daily-life activities.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-10 mx-auto">
        <div class="card">
            <img src="assets/images/dinoage_1.png" alt="image" class="card-img-top cardImage" (click)="focusProject('dinoage')">
            <div class="card-body cardBody">
                <h5 class="card-title fw-bold">Dino Age (2017)</h5>
                <p class="card-text">
                    A 2D platformer game set in a mythical fantasy world with dinosaurs and magic.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-10 mx-auto">
        <div class="card">
            <img src="assets/images/prisonbreak_1.png" alt="image" class="card-img-top cardImage" (click)="focusProject('prisonbreak')">
            <div class="card-body cardBody">
                <h5 class="card-title fw-bold">Prison Break (2017)</h5>
                <p class="card-text">
                    A 2D puzzle game about a jaibreak attempt with riddles, secrets, and of course 'enemies' (i.e. prison officers).
                </p>
            </div>
        </div>
    </div>
</div>

<br><br>