<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">Memor'ile</h1>
    </div>
    <div class="w-100 mb-3"></div>
    <div class="col-lg-6 col-8 mx-auto">
        <figure class="figure">
            <a href="assets/images/memorile_cover.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/memorile_cover.png" alt="image" class="img-thumbnail collectionImage mb-1">
            </a>
            <figcaption class="figure-caption text-center">Figure 1.1: Title Screen</figcaption>
        </figure>
    </div>
    <div class="d-lg-none w-100"></div>
    <div class="col-lg-6 col-md-12 pt-1">
        <dl class="row">
            <dt class="col-sm-3">Release Status:</dt>
            <dd class="col-sm-9">Prototype (2022)</dd>
            <dt class="col-sm-3">Platform:</dt>
            <dd class="col-sm-9">WebGL, Windows</dd>
            <dt class="col-sm-3">Genres:</dt>
            <dd class="col-sm-9">Casual, Puzzle</dd>
            <dt class="col-sm-3">Link:</dt>
            <dd class="col-sm-9">
                <a href="https://krankai.itch.io/memorile" target="_blank">
                    krankai.itch.io/memorile
                </a>
            </dd>
            <!-- <dt class="col-sm-3">Development:</dt>
            <dd class="col-sm-9">2 months</dd> -->
        </dl>
        <p>
            <em>Memor'ile</em> is a simple puzzle game aims to give players a challenge
            for their memorizing abilities. Multiple special tiles will be briefly shown
            at the start then quickly hidden, which players have to remember and flip them
            up. The faster they can get it all, the higher score they can accumulate.
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col-12">
        <p>
            This game was made entirely through my solo effort using Unity Game Engine within
            the span of two (2) months. The workload includes:
        </p>
    </div>
    <div class="col-12">
        <ul>
            <li>Brainstorm game idea and concept.</li>
            <li>Incorporate object-oriented programming design into the game structure.</li>
            <li>Implement the game from scratch.</li>
            <li>Search and utilize assets from vairous free open sources.</li>
        </ul>
    </div>
    <div class="col-6 mx-auto my-2 px-2">
        <a href="assets/images/memorile_1.png" target="_blank" class="text-decoration-none">
            <img src="assets/images/memorile_1.png" alt="image" class="collectionImage">
        </a>
    </div>
    <div class="col-6 mx-auto my-2 px-2">
        <a href="assets/images/memorile_2.png" target="_blank" class="text-decoration-none">
            <img src="assets/images/memorile_2.png" alt="image" class="collectionImage">
        </a>
    </div>
    <div class="col-6 mx-auto my-2 px-2">
        <a href="assets/images/memorile_3.png" target="_blank" class="text-decoration-none">
            <img src="assets/images/memorile_3.png" alt="image" class="collectionImage">
        </a>
    </div>
    <div class="col-6 mx-auto my-2 px-2">
        <a href="assets/images/memorile_4.png" target="_blank" class="text-decoration-none">
            <img src="assets/images/memorile_4.png" alt="image" class="collectionImage">
        </a>
    </div>
    <div class="col-auto mx-auto">
        <figure class="figure">
            <figcaption class="figure-caption">Figure 1.2-1.5: In-game screenshots</figcaption>
        </figure>
    </div>
</div>