<introduction (focusProject)="scrollToProject($event)"></introduction><br>

<div #milu class="row justify-content-center scrollTarget">
    <div class="col-6 border-1 border-bottom"></div>
</div><br>

<project-milu></project-milu><br>

<div #dinoage class="row justify-content-center scrollTarget">
    <div class="col-6 border-1 border-bottom"></div>
</div><br>

<project-dinoage></project-dinoage><br>

<div #prisonbreak class="row justify-content-center scrollTarget">
    <div class="col-6 border-1 border-bottom"></div>
</div><br>

<project-prisonbreak></project-prisonbreak><br>

<br>