<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">Dino Age</h1>
    </div>

    <div class="w-100 mb-3"></div>

    <div class="col-12">
        <dl class="row ">
            <div class="col-lg-3 offset-lg-3 col-md-12">
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Status:</dt>
                    <dd class="col">Unreleased</dd>
                </div>
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Genres:</dt>
                    <dd class="col">Platformer, Single-player</dd>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Platform:</dt>
                    <dd class="col">PC and Mobile</dd>
                </div>
                <div class="row">
                    <dt class="col-lg-3 col-md-auto">Role(s):</dt>
                    <dd class="col">Coding and Design</dd>
                </div>
            </div>
        </dl>
    </div>
    <div class="col-lg-10 mx-auto text-center">
        <p>
            <span class="fw-bold fst-italic">Dino Age is a 2D singple-player platformer game</span> setting in a
            mythical fantasy world.
            The main theme is about prehistoric age with dinosaurs and <em>strange</em> creatures. Players have to go
            through multiple stages
            and defeat different enemies in order to get the final reward.
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col-lg-6 col-10 mx-auto">
        <figure class="figure">
            <a href="assets/images/dinoage_1.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/dinoage_1.png" alt="image" class="figure-img img-thumbnail mainImage mb-1">
            </a>
            <figcaption class="figure-caption text-center">Figure 2.1: Main menu screen</figcaption>
        </figure>
    </div>
    <div class="w-100"></div>

    <div class="col-lg-10 mx-auto text-center">
        <p>
            This game was collaboratively developed by a 2-member team back in 2017 as an internship product. Due to the
            time constraint, we aimed to only implement a lightweight version with basic playable characters and
            few progressive stages.
            Nevertheless, there are still many key interesting features being added, for example, diverse enemies
            patterns and hidden puzzles.
        </p>
    </div>
    <div class="w-100"></div>

    <div class="row">
        <div class="col-lg-4 offset-lg-2 col-6">
            <figure class="figure">
                <a href="assets/images/dinoage_2.png" target="_blank" class="text-decoration-none">
                    <img src="assets/images/dinoage_2.png" alt="image" class="img-thumbnail collectionImage">
                </a>
                <figcaption class="figure-caption mt-1 text-center">Figure 2.2: Enemies</figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-6">
            <figure class="figure">
                <a href="assets/images/dinoage_3.png" target="_blank" class="text-decoration-none">
                    <img src="assets/images/dinoage_3.png" alt="image" class="img-thumbnail collectionImage">
                </a>
                <figcaption class="figure-caption mt-1 text-center">Figure 2.3: Skills</figcaption>
            </figure>
        </div>
    </div>

    <div class="col-lg-10 mx-auto text-center">
        <p class="mb-1">
            All tasks were distributed equally and distinctly between members to avoid overlapping responsibilities.
            <strong>My contributions include:</strong>
        </p>
        <ul class="offset-lg-3 offset-sm-2 offset-1 text-start">
            <li>Design in-game UI: main menu, character selection screen, skill upgrade screen, etc.</li>
            <li>Design map layouts using <em>Tiled</em> Map Editor</li>
            <li>Design item system</li>
            <li>Design challenegs and enemies, including their behavior patterns</li>
            <li>Implement relevant coding work using <em>Cocos2d</em> framework</li>
        </ul>
    </div>
    <div class="w-100"></div>

    <div class="row gy-2 justify-content-center">
        <div class="col-lg-4 col-6 mx-auto">
            <a href="assets/images/dinoage_5.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/dinoage_5.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="w-100 d-lg-block d-none"></div>
        <div class="col-lg-4 col-6 mx-auto">
            <a href="assets/images/dinoage_4.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/dinoage_4.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-4 col-6 mx-auto">
            <a href="assets/images/dinoage_7.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/dinoage_7.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="col-lg-4 col-6 mx-auto">
            <a href="assets/images/dinoage_6.png" target="_blank" class="text-decoration-none">
                <img src="assets/images/dinoage_6.png" alt="image" class="img-thumbnail collectionImage">
            </a>
        </div>
        <div class="w-100"></div>
        <div class="col-auto mx-auto mt-0">
            <figure class="figure">
                <figcaption class="figure-caption">Figures 2.4-2.7: In-game menus and head-up display</figcaption>
            </figure>
        </div>
    </div>
</div>